[submodule "YouTubePlayerEX-framework"]
	path = YouTubePlayerEX-framework
	url = https://github.com/BoomboxRapsody/YouTubePlayerEX-framework.git
[submodule "YoutubeExplode"]
	path = YoutubeExplode
	url = https://github.com/BoomboxRapsody/YoutubeExplode
